<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Housekeep #</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
</head>
<body>
<h1>Test Index Page</h1>

<ul th:each="findall: ${findall}">

    <li th:text="${findall.getItemType()}"/>
    <span th:text="${findall.getValueOfItem()}"></span>

</ul>

<form th:action="@{/housekeeping/addItem}" method="post">
    <input type="text" th:name="itemGroup" placeholder="group of item"> </input>
    <input type="text" th:name="itemType" placeholder="type of item"> </input>
    <input type="text" th:name="itemValue" placeholder="group of item"> </input>
    <button type="submit">send</button>
</form>

</body>
</html>