<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <title>Housekeep #</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
</head>
<body>

<form th:action="@{/housekeeping/addSpending}" method="post">
    <p>Spending</p>
    <select type="text" th:name="itemGroup" placeholder="group of item" required="required">
        <option value="rezsi">rezsi</option>
        <option value="household">household</option>
        <option value="shopping">shopping</option>
        <option value="fun">Habzsi</option>
    </select>
    <input type="text" th:name="itemType" placeholder="type of item" required="required"> </input>
    <input type="text" th:name="itemValue" placeholder="value of item" required="required"> </input>
    <button type="submit">send</button>
</form>

<form th:action="@{/housekeeping/addIncome}" method="post">
    <p>Income</p>
    <input type="text" th:name="type" placeholder="type of item" required="required"> </input>
    <input type="text" th:name="value" placeholder="value of item" required="required"> </input>
    <button type="submit">send</button>
</form>

<a href="housekeeping/sum.html">Check out the current balance</a>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Log out" />
</form>


</body>
</html>